/* color: rgba(255, 255, 255, 0.6); цвет почты и телефона*/
/* color: #2196F3; синий акцент */

--color-white: #ffffff;

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

footer {
  background-color: #2f303a;
}

main {
  background-color: #fff;
}

ul {
  list-style: none;
}

.nav-header-link-main:hover:visited {
  cursor: pointer;
  color: #2196f3;
  text-decoration-color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-header-portfolio:hover:visited {
  text-decoration: none;
  color: #2196f3;
  text-decoration-color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-header-contacts:hover:visited {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-header-address li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-header-address li a:hover {
  color: #2196f3;
}

.logo-left {
  color: #2196f3;
  text-decoration: none;
  margin-right: 0px;
}

.logo-right {
  color: black;
  margin-left: 0px;
}

.logo-right-footer {
  color: #ffffff;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}

.office-address {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

button:hover {
  color: #ffffff;
  font-family: inherit;
  background: #f5f4fa;
  border-radius: 4px;
}

.hero-title {
  text-align: center;
  background: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.about-us-text {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section {
  background: #f5f4fa;
}
.our-team-section h2 {
  text-align: center;
}
.our-team-section h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #212121;
}
.our-team-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #757575;
}

.order-service {
  color: var(--color-white);
  text-decoration: none;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-contact-list li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.solution-description h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.solution-description p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

/* portfolio.html */
.galery-board h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.galery-board p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
