body {
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

footer {
  background-color: #2f303a;
}

main {
  background-color: #fff;
}

ul {
  list-style: none;
}

.header-link {
  cursor: pointer;
}

.logo-left {
  color: #2196f3;
  text-decoration: none;
  margin-right: 0px;
}

.logo-right {
  color: black;
  margin-left: 0px;
}

.logo-link {
  text-decoration: none;
}
